@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  font-family: 'Montserrat', Arial, sans-serif;
  background: linear-gradient(95deg, #C0EBA6, #347928);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  justify-self: center;
  padding-top: 2rem;
  color: white;
}

.balance {
  justify-self: center;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  color: white;
}

.main-content {
  display: flex; 
  justify-content: center;
  gap: 20px; 
  flex-wrap: wrap; 
  width: 100%;
}

.expense-form {
  max-width: 400px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.expense-container {
  max-width: auto;
  padding: 20px;
  border-radius: 10px;
  flex: 1; /* Allow it to shrink/grow */
}

.expense-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.expense {
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 0.5rem;
}

.expense-header {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  margin-right: 8px;
  width: 100px;
  text-align: right;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.add-expense-btn {
  background-color: white;
  color: black;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 20px;
  margin-left: 6rem;
  transition: all 0.3s ease-in-out;
}

.add-expense-btn:hover {
  background-color: black;
  color: white;
  border-color: darkgray;
}

.delete-expense-btn{
  margin-left: 20px;
  background-color: #347928;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px 8px;
  font-size: 12px;
  cursor: pointer;
}

.btn:hover {
  background-color: RoyalBlue;
}